[data-include*="form-input-select()"] {
  display: block;
  padding: 0;
  position: relative;
  /* Set options to normal weight */
  /* ------------------------------------  */
  /* START OF UGLY BROWSER-SPECIFIC HACKS */
  /* ----------------------------------  */
  /* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container.
     The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex.
     You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
  /* Show only the native arrow */
  color: #111;
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 100%;
}
[data-include*="form-input-select()"]::before, [data-include*="form-input-select()"]::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
[data-include*="form-input-select()"] select {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  font-size: 16px;
  outline: none;
  /* Focus style */
}
[data-include*="form-input-select()"] select:focus {
  background-color: transparent;
  outline: none;
}
[data-include*="form-input-select()"] option {
  font-weight: normal;
}
[data-include*="form-input-select()"] x:-o-prefocus, [data-include*="form-input-select()"]::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  [data-include*="form-input-select()"] select::-ms-expand {
    display: none;
  }
  [data-include*="form-input-select()"] select:focus::-ms-value {
    background: transparent;
    color: #000;
  }
}
@-moz-document url-prefix() {
  [data-include*="form-input-select()"] {
    overflow: hidden;
  }
  [data-include*="form-input-select()"] select {
    width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + 3em);
    /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
  }
  @supports (-moz-appearance: none) {
    [data-include*="form-input-select()"] select {
      width: 100%;
    }
  }
  [data-include*="form-input-select()"] select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
@supports (-moz-appearance: none) {
  [data-include*="form-input-select()"] {
    width: 100%;
  }
}
[data-include*="form-input-select()"]::before, [data-include*="form-input-select()"]::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  border: 4px solid transparent;
  width: 0;
  height: 0;
  right: 10px;
}
[data-include*="form-input-select()"]::before {
  bottom: 55%;
  border-width: 0 6.5px 8px 6.5px;
  border-bottom-color: #73827f;
}
[data-include*="form-input-select()"]::after {
  border-width: 8px 6.5px 0 6.5px;
  border-top-color: #73827f;
  top: 55%;
}
@-moz-document url-prefix() {
  [data-include*="form-input-select()"] {
    border-right: 2px solid #73827f;
  }
  [data-include*="form-input-select()"]:hover {
    border-right: 2px solid #609aff;
  }
}
[data-include*="form-input-select()"]:hover select {
  box-shadow: 0 2px 3px rgba(96, 154, 255, 0.1) inset;
  border-color: #609aff;
  cursor: pointer;
}
[data-include*="form-input-select()"]:hover select:focus {
  outline-color: transparent;
}
[data-include*="form-input-select()"]:hover::before {
  border-bottom-color: #609aff;
}
[data-include*="form-input-select()"]:hover::after {
  border-top-color: #609aff;
}
[data-include*="form-input-select()"] select {
  border: 2px solid #73827f;
  border-radius: 3px;
  font-weight: 400;
  color: inherit;
  padding: 5px 10px;
  line-height: normal;
  transition: border-color 0.2s ease, outline 0.2s ease;
}
[data-include*="form-input-select()"] select:focus {
  box-shadow: 0 3px 4px rgba(96, 154, 255, 0.3) inset;
  outline: 2px solid #609aff;
  outline-offset: -2px;
}
[data-include*="form-input-select()"] select[disabled], [data-include*="form-input-select()"] select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
[data-include*="form-input-select()"] select:not(:focus):invalid {
  color: #444;
}

/*# sourceMappingURL=Select.module.css.map */
