.hellowName {
    background-color: #A4BDBA;
    max-width: 400px;
    min-width: 230px;
    padding: 15px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    outline: none;
    border: 1px solid #111;
}

.error {
    border-color: red;
}

