@import "../../style/mixins";
@import "../../style/var";


.wrapper {
  @extend %box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  position: relative;
  @extend %box;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid #609aff;
  overflow: hidden;

  .control {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date {
    @extend %box;
    position: absolute;
    top: 0;
    left: 50%;
    background: $accent-color;

    transition: 0.2s;
    transform-origin: center;
    transform: translateX(-50%) translateY(-100%);
  }

  &:hover {
    .date {
      transform: translateX(-50%) translateY(0);
    }
  }
}