.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}